body {
    background-color: aquamarine;
    text-align: center;
}

.button {
    background-color: skyblue;
    font-size: 30px;
    text-decoration: none;
   border-radius: 40px 40px 40px 40px;
 }

 h2,h3 {
    color: blue;
 }